doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/semantic.css")
        link(rel="stylesheet", href="/css/main.css")
    body 
        .ui.top.fixed.menu
            .item
                img.logo-img(src='/images/uzstat.png')
            .user-name=name
        div(style="padding: 90px 30px 0 30px")
            .ui.attached.message
                .header Create test
                p Create new test in this page
            form.ui.form.attached.fluid.segment.my-body(id="full-test")
                .field
                    label Question text
                    input(placeholder="Question text", type="text" name="text_question", id="text_question")
                .four.fields
                    .field
                        label Answer
                        input(placeholder="Answer", type="text" name="test_answer1", id="test_answer1")
                    .field
                        label Answer
                        input(placeholder="Answer", type="text" name="test_answer2", id="test_answer2")
                    .field
                        label Answer
                        input(placeholder="Answer", type="text" name="test_answer3", id="test_answer3")
                    .field
                        label Answer
                        input(placeholder="Answer", type="text" name="test_answer4", id="test_answer4")
                <div class="ui form">
                    <div class="grouped fields">
                        <label id="text_question_label">Question text</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="accuracy" checked="checked" id="1" value="1">
                                <label for="1" id="test_answer1_label">Answer</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="accuracy" id="2" value="2">
                                <label for="2" id="test_answer2_label">Answer</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="accuracy" id="3" value="3">
                                <label for="3" id="test_answer3_label">Answer</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="accuracy" id="4" value="4">
                                <label for="4" id="test_answer4_label">Answer</label>
                            </div>
                        </div>
                    </div>
                </div>

                .inline.field
                    .ui.blue.submit.button(id="btn-submit") Submit
            .ui.bottom.attached.error.message
                i.icon.help
                | Already signed up? 
                a(href="#") Login here
                |  instead.
            #testlist.test-list
        script(src="/js/jquery.js")
        script(src="/js/axios.js")
        script(src="/js/create_test.js")