doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/css/semantic.css")
    link(rel="stylesheet", href="/css/login.css")
  body 
    .page-login
      .ui.centered.grid.container
        .nine.wide.column
          .ui.fluid.card
            .content
              form.ui.form(method='post' action='/user/login')
                .field
                  label User name
                  input(type='text' name='user_name' placeholder='User')
                .field
                  label Password
                  input(type='password' name='password' placeholder='Password')
                button.ui.primary.button(type='submit')
                  | Login