doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/semantic.css")
        link(rel="stylesheet", href="/css/main.css")
    body 
        .ui.top.fixed.menu
            .item
                img.logo-img(src='/images/uzstat.png')
            .user-name=name
        .my-container
            .super-admin-navbar
                .ui.buttons.blue
                    a(href="/group").ui.blue.basic.button group yaratish
                    a(href="/group/user").ui.blue.button user yaratish
                    a.ui.blue.basic.button natijalarni ko'rish
            .ui.attached.message
                .header Create user
                p This page for to create new user
            form(action="/user/", method="post").ui.form.attached.fluid.segment
                .field
                    label Name
                    input(placeholder="Name", type="text", id='name' name="name")
                .four.fields
                    .field
                        label User Name
                        input(placeholder="User Name", type="text", id='user_name' name='user_name')
                    .field
                        label Password
                        input(placeholder="Password", type="password", id='password' name='password')
                    .field
                        label(for="group") Status
                        select(name="group")#group.ui.dropdown
                    .field
                        label(for="status") Status
                        select(name="status")#status.ui.dropdown
                            option(value="3") Xodim
                            option(value="2") Admin
                .inline.field
                    button.ui.blue.submit.button(type='submit') Submit
            //- .ui.bottom.attached.error.message
            //-     i.icon.help
            //-     | Already signed up? 
            //-     a(href="#") Login here
            //-     |  instead.
            .user-list
                #userlist.ui.middle.aligned.divided.list
        script(src="/js/jquery.js")
        script(src="/js/axios.js")
        script(src="/js/group.js")
        script(src="/js/user.js")