doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/semantic.css")
        link(rel="stylesheet", href="/css/main.css")
    body 
        .ui.top.fixed.menu
            .item
                img.logo-img(src='/images/uzstat.png')
            .user-name=name
        .my-container
            .super-admin-navbar
                .ui.buttons.blue
                    a(href="/group").ui.blue.button group yaratish
                    a(href="/group/user").ui.blue.basic.button user yaratish
                    a.ui.blue.basic.button natijalarni ko'rish
            .ui.attached.message
                .header Create group
                p This page for to create new group
            form(action="/group/", method="post").ui.form.attached.fluid.segment
                .field
                    label Name
                    input(placeholder="Name", type="text", id='name' name="group_name")
                .inline.field
                    button(type="submit").ui.blue.submit.button Submit
            .group-list
                #grouplist.ui.middle.aligned.divided.list
        script(src="/js/jquery.js")
        script(src="/js/axios.js")
        script(src="/js/group.js")
        script(src="/js/user.js")