.my-container {
    padding-top: 100px;
    padding-bottom: 60px;
}

.logo-img {
    width: 80px !important;
}

.my-test-body {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.my-test-body::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00b9e5;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

/* timer  */
*,
:after,
:before {
    box-sizing: border-box
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

.clock:before,
.count:after {
    content: '';
    position: absolute;
}

.clock-wrap {
    margin: auto;
    width: 240px;
    height: 240px;
    margin-top: 100px;
    position: fixed;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    left: 20px;
}

.clock {
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    margin-top: -90px;
    margin-left: -90px;
    background-color: #feeff4;
}

.clock:before {
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    border-radius: inherit;
    background-color: #ec366b;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15), 0 0 3px rgba(255, 255, 255, .75) inset;
    /*border:1px solid rgba(255,255,255,.1);*/
}

.count {
    width: 100%;
    color: #fff;
    height: 100%;
    padding: 50px;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    position: absolute;
    text-align: center;
}

.count:after {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    position: relative;
}

.count.sec:after {
    content: 'sec'
}

.count.min:after {
    content: 'min'
}

.action {
    margin: auto;
    max-width: 200px;
}

.action .input {
    margin-top: 30px;
    position: relative;
}

.action .input-num {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 60px;
}

.action .input-btn {
    top: 0;
    right: 0;
    color: #fff;
    border: none;
    border: none;
    padding: 12px;
    position: absolute;
    border-radius: 60px;
    background-color: #ec366b;
    text-transform: uppercase;
}

.tbl {
    display: table;
    width: 100%
}

.tbl .col {
    display: table-cell
}

.super-admin-navbar{
    text-align: center;
}

.user-list, .group-list{
    padding-top: 30px;
}

.my-container {
    padding: 120px 30px 30px 30px;
}

.ex-test{
    margin-bottom: 60px !important;
}

.test-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dbn {
    display: none !important;
}

.dbb {
    display: block;
}

.margin-top-10 {
    margin-top: 10px;
}

.w100 {
    width: 100%;
}

.open-content {
    display: block !important;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
    color: inherit;
}